// FOOTER
footer.site-footer
    p.col-md-6
        | © 2016
        strong Thamys Guedes
        | , Inc. ·
        a(href='#') Privacy
        |  ·
        a(href='#') Terms
    p.col-md-6.text-right
        a(href='#') Back to top