.navbar-wrapper(data-spy='affix', data-offset-top='60', data-offset-bottom='200')
    .pre-nav
        .container
            .col-md-5
                address
                    img#address-icon(src='./assets/img/marker-white.svg')
                    p Rua Florinda Marques, 25, Planalto, Muriaé - MG
            .col-md-4
                a#phone(href='phone:2332324545')
                    img#phone-icon(src='./assets/img/phone-white.svg')
                    p (32) 3232-4545
            .col-md-2.text-right
                a#facebook-top(href='#')
                    img(src='./assets/img/facebook.svg')
                a#youtube-top(href='#')
                    img(src='./assets/img/youtube.svg')
            .col-md-1.text-right
                a#search-top(href='#')
                    img(src='./assets/img/search.svg')
    include navbar