.parallax
  .container-fluid
    .container
      .col-md-12.schedule-of-worship
        h3.title
          span.border-yellow Horários de Cultos
        .four-colums
          div
            p
              strong Domingo:
              br
              |  09:00 - Escola Bíblica Dominical
              br
              |  19:00 - Culto de Louvor e Adoração
          div
            p
              strong Terças-Feiras:
              br
              |  19:30 - Culto de Estudo Bíblico
          div
            p
              strong Quartas-Feiras:
              br
              |  19:30 - Culto de Oração
          div
            p
              strong Quintas-Feiras:
              br
              |  19:00 - Culto de Louvor e Adoração