.parallax
  .container-fluid
    .container
      .col-md-6.schedule-of-worship
        h3.title
          span.border-yellow Horários de Cultos
        .two-colums
          div
            p
              strong Domingo:
              br
              |  09:00 - Escola Bíblica Dominical
              br
              |  19:00 - Culto de Louvor e Adoração
          div
            p
              strong Terças-Feiras:
              br
              |  19:30 - Culto de Estudo Bíblico
          div
            p
              strong Quartas-Feiras:
              br
              |  19:30 - Culto de Oração
          div
            p
              strong Quintas-Feiras:
              br
              |  19:00 - Culto de Louvor e Adoração
      .col-md-6.contact-info
        h3.title
          span.border-yellow Entre em Contato
        .text-right
          p
            strong Endereço:
            br
            |  Rua Florinda Marques, 25, Planalto, Muriaé - MG
          p
            strong Telefone:
            br
            |  (32) 3232-4545
          p
            strong Redes Sociais
            br
          .footer-social-media
            a#facebook-top(href='#')
              img(src='./assets/img/facebook.svg')
            |  
            a#youtube-top(href='#')
              img(src='./assets/img/youtube.svg')
          p