// Main jumbotron for verse of tha day
.jumbotron.verse-of-the-day
    .container
        h1.title Versículo do dia
        h3
            | Portanto, vão e façam discípulos de todas as nações, batizando-os em nome do Pai e do Filho e do Espírito Santo,
        p Mateus 28:19