extends ../layout

block styles
    link(href='assets/css/contact-us.css', rel='stylesheet')
    
block content
    .container
        // START THE FEATURETTES
        .row
            h1.title.border-yellow Contato
            .col-md-12.text
                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                p
                    | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .col-md-6.contact-info
                h3.title
                    span.border-yellow Entre em Contato
                    .text-right
                        p
                            strong Endereço:
                            br
                            | 					Rua Florinda Marques, 25, Planalto,
                            | 					Muriaé - MG
                        p
                            strong Telefone:
                            br
                            | 					(32) 3232-4545
                        p
                            strong Redes Sociais
                            br
                            .footer-social-media
                                a#facebook-top(href='#')
                                    img(src='./assets/img/facebook.svg')
                                a#youtube-top(href='#')
                                    img(src='./assets/img/youtube.svg')
                    img.featurette-image.img-responsive.center-block(data-src='holder.js/500x270/auto', alt='Generic placeholder image')
            .col-md-6
    // /.container
