extends ../layout

block styles
    link(href='assets/css/events.css', rel='stylesheet')
    
block content
    include ../components/breadcrumb
    - var breadcrumb = [];
    - breadcrumb.push({name: "Eventos", link: "events.html", active: true})
    +breadcrumb(breadcrumb)

    .container
        // START THE FEATURETTES
        .row
            h1.title.border-yellow Eventos
            .col-md-6
                .row.featurette
                    .col-md-5
                        .date
                            span.day 25
                            span.month 05
                        img.featurette-image.img-responsive.center-block(data-src='holder.js/500x430/auto', alt='Generic placeholder image')
                    .col-md-7
                        h2.featurette-heading
                            | First featurette heading.
                            span.text-muted It'll blow your mind.
                        p.lead
                            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                        a.read-more(href='event-details.html')
                            | Ver detalhes
                            img(src='./assets/img/long-arrow-right.svg')
                hr.featurette-divider
            .col-md-6
                .row.featurette
                    .col-md-5
                        .date
                            span.day 25
                            span.month 05
                        img.featurette-image.img-responsive.center-block(data-src='holder.js/500x430/auto', alt='Generic placeholder image')
                    .col-md-7
                        h2.featurette-heading
                            | First featurette heading.
                            span.text-muted It'll blow your mind.
                        p.lead
                            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                        a.read-more(href='event-details.html')
                            | Ver detalhes
                            img(src='./assets/img/long-arrow-right.svg')
                hr.featurette-divider

        include ../components/pagination