extends ../layout

block styles
    link(href='assets/css/contact-us.css', rel='stylesheet')
    
block content
    .container
        // START THE FEATURETTES
        .row
            h1.title.border-yellow Jesus
            .col-md-12.text
                h2.title.inner-title.border-yellow Página em Construção
                p
                    | Desculpe o transtorno, ainda estmos construindo esse site e em breve as páginas estarão disponíveis