extends ../layout

block styles
    link(href='assets/css/news.css', rel='stylesheet')
    
block content
    include ../components/breadcrumb
    - var breadcrumb = [];
    - breadcrumb.push({name: "Notícias", link: "news.html", active: true})
    +breadcrumb(breadcrumb)

    .container
        // START THE FEATURETTES
        .row
            h1.title.border-yellow Notícias
            .col-md-6
                .row.featurette
                    .col-md-5
                        img.featurette-image.img-responsive.center-block(data-src='holder.js/500x430/auto', alt='Generic placeholder image')
                    .col-md-7
                        h2.featurette-heading
                            | First featurette heading.
                            span.text-muted It'll blow your mind.
                        p.lead
                            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                        a.read-more(href='news-details.html')
                            | Continuar lendo
                            img(src='./assets/img/long-arrow-right.svg')
                hr.featurette-divider
            .col-md-6
                .row.featurette
                    .col-md-5
                        img.featurette-image.img-responsive.center-block(data-src='holder.js/500x430/auto', alt='Generic placeholder image')
                    .col-md-7
                        h2.featurette-heading
                            | Oh yeah, it's that good.
                            span.text-muted See for yourself.
                        p.lead
                            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                        a.read-more(href='news-details.html')
                            | Continuar lendo
                            img(src='./assets/img/long-arrow-right.svg')
                hr.featurette-divider
            .col-md-6
                .row.featurette
                    .col-md-5
                        img.featurette-image.img-responsive.center-block(data-src='holder.js/500x430/auto', alt='Generic placeholder image')
                    .col-md-7
                        h2.featurette-heading
                            | First featurette heading.
                            span.text-muted It'll blow your mind.
                        p.lead
                            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                        a.read-more(href='news-details.html')
                            | Continuar lendo
                            img(src='./assets/img/long-arrow-right.svg')
                hr.featurette-divider
            .col-md-6
                .row.featurette
                    .col-md-5
                        img.featurette-image.img-responsive.center-block(data-src='holder.js/500x430/auto', alt='Generic placeholder image')
                    .col-md-7
                        h2.featurette-heading
                            | Oh yeah, it's that good.
                            span.text-muted See for yourself.
                        p.lead
                            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                        a.read-more(href='news-details.html')
                            | Continuar lendo
                            img(src='./assets/img/long-arrow-right.svg')
                hr.featurette-divider
            .col-md-6
                .row.featurette
                    .col-md-5
                        img.featurette-image.img-responsive.center-block(data-src='holder.js/500x430/auto', alt='Generic placeholder image')
                    .col-md-7
                        h2.featurette-heading
                            | First featurette heading.
                            span.text-muted It'll blow your mind.
                        p.lead
                            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                        a.read-more(href='news-details.html')
                            | Continuar lendo
                            img(src='./assets/img/long-arrow-right.svg')
                hr.featurette-divider
            .col-md-6
                .row.featurette
                    .col-md-5
                        img.featurette-image.img-responsive.center-block(data-src='holder.js/500x430/auto', alt='Generic placeholder image')
                    .col-md-7
                        h2.featurette-heading
                            | Oh yeah, it's that good.
                            span.text-muted See for yourself.
                        p.lead
                            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                        a.read-more(href='news-details.html')
                            | Continuar lendo
                            img(src='./assets/img/long-arrow-right.svg')
                hr.featurette-divider
            .col-md-6
                .row.featurette
                    .col-md-5
                        img.featurette-image.img-responsive.center-block(data-src='holder.js/500x430/auto', alt='Generic placeholder image')
                    .col-md-7
                        h2.featurette-heading
                            | First featurette heading.
                            span.text-muted It'll blow your mind.
                        p.lead
                            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                        a.read-more(href='news-details.html')
                            | Continuar lendo
                            img(src='./assets/img/long-arrow-right.svg')
                hr.featurette-divider
            .col-md-6
                .row.featurette
                    .col-md-5
                        img.featurette-image.img-responsive.center-block(data-src='holder.js/500x430/auto', alt='Generic placeholder image')
                    .col-md-7
                        h2.featurette-heading
                            | Oh yeah, it's that good.
                            span.text-muted See for yourself.
                        p.lead
                            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                        a.read-more(href='news-details.html')
                            | Continuar lendo
                            img(src='./assets/img/long-arrow-right.svg')
                hr.featurette-divider
            

        include ../components/pagination